* {
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-image: url("../src/assets/img02.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Segoe UI";
}
.input-container {
  text-align: center;
}
.input-field {
  font-size: 1.5rem;
  width: 30vw;
  margin-right: 8px;
  border-radius: 10px;
}
.title {
  text-shadow: black;
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
}

.todo-list {
  text-align: center;
  margin-bottom: 8px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.todo-text {
  color: white;
  font-size: 24px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.844);
  padding: 0 6px;
}
.todo-item {
  margin: 10px 0;
}
.button {
  font-size: 1.4rem;
  margin-left: 8px;
  border-radius: 10px;
  padding: 0 5px;
}
.button-group {
  font-size: 1.2rem;
  padding: 0 5px;
  border-radius: 10px;
  margin: 0 2px;
}
